[submodule "Counting-people-video"]
	path = Counting-people-video
	url = https://github.com/Nikhil-Kasukurthi/Counting-people-video
[submodule "Style-transfer"]
	path = Style-transfer
	url = https://github.com/Nikhil-Kasukurthi/Style-transfer
[submodule "discourse"]
	path = discourse
	url = https://github.com/Nikhil-Kasukurthi/discourse
