[submodule "Counting-people-video"]
	path = Counting-people-video
	url = https://github.com/Nikhil-Kasukurthi/Counting-people-video
[submodule "Style-transfer"]
	path = Style-transfer
	url = https://github.com/Nikhil-Kasukurthi/Style-transfer
[submodule "discourse"]
	path = discourse
	url = https://github.com/Nikhil-Kasukurthi/discourse
[submodule "Dive-In"]
	path = Dive-In
	url = https://github.com/Nikhil-Kasukurthi/Dive-In
[submodule "Landing-Page"]
	path = Landing-Page
	url = https://github.com/Shambhavi96/Shambhavi96.github.io/
[submodule "Iris"]
	path = Iris
	url = https://github.com/Ramkishorevit/Iris.git
[submodule "Iris-Android"]
	path = Iris-Android
	url = https://github.com/Ramkishorevit/Iris
